.orange{
    color: #fe6e40;
}
.white{
    color:#edeff1;
    font-size: 2rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
}

body{
    background-color: #edeff1;
}

main, nav{
    font-family: Arial, Helvetica, sans-serif;
}

.bgHeader {
    display: flex;
    background-color: #37474f;
    width: auto;
    height: 100px;
    padding: 0.25rem;
    align-items: center;
}


.hide {
    display: none;
}

.myDIV:hover+.hide {
    display: block;
}

a:link, a:visited {
    text-decoration: none;
    color: #942425;
}

p {
    margin-left: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 1rem;
}

.displayFlex{
    display: flex;
    flex-wrap: wrap;
    padding: 20px, 0px;
    gap: 20px;
}

.seeMore {
    background-color: #fe6e40;
    color: #edeff1;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    margin: 10px;
    width: 120px;
    height: 50px;
    font-size: 1.25rem;
    border: none;
    outline: none;
    opacity: 0;
    transition: opacity 0.6s;
}

.container{
    flex: 20%;
    background-color: white;
}

.container:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container:hover .seeMore{
    opacity: 1;
}

.one, .two, .three, .four {
    max-width: 100%;
    height: auto;
}


section>h1 {
    font-size: 1.5rem;
}

h1>img{
    position: absolute;
    right: 20px;
    padding: 10px;
}


@media only screen and (max-width: 770px) {
    .white{
        font-size: 1.5rem;
    }
    .container{
        flex: 45%;
        background-color: white;
    }

}

@media only screen and (max-width: 480px) {
    .container {
        flex: 100%;
        background-color: white;
    }
    .white {
        font-size: 1rem;
    }
}

