.orange{
    color: #fe6e40;
}
.white{
    color:#edeff1;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 15px;
    font-size: 3rem;
    padding-left: 3rem;
}

.bgHeader {
    background-color: #37474f;
    width: auto;
    height: 150px;
    padding: 0.25rem;
}


.hide {
    display: none;
}

.myDIV:hover+.hide {
    display: block;
    color: red;
}